@page "/delete/{Id:int}"
@rendermode InteractiveWebAssembly

@inject IHandleContentService _handleContent
@inject NavigationManager _navigation

<h3>Delete Content</h3>
<label>Deleting...</label>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _handleContent.DeleteContentsAsync(Id);
            _navigation.NavigateTo("/data");
        }
    }
}
